#root {
    width: 1168px;
    height: 663px;
}
body{
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}